  .selectDiv {
   
   width: 170px;
   height: 28px;
    line-height:28px;
   overflow: hidden;
   background: url('https://imageog.flaticon.com/icons/png/512/61/61041.png') no-repeat right #FEFEFE;
   background-size:contain;
   border: #ccc 1px solid;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    margin:0px;
    padding:0px;
    position: relative;
    z-index:100;
    
   }
.selectDefault {
    padding-left:8px;
}

.selectDiv select {

   margin:0px;
   padding:0px;
    opacity:0;
    filter:alpha(opacity=0);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    z-index:101;
}
   .selectDiv select:focus {
    outline: none;
}

.selectDefault, .selectDiv option {
    font-family:arial;
    font-size:12px;
    }